button{
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

.notification-wrapper{
    position: absolute;
    top:10px;
    width: 300px;
    right: 0;
    overflow: scroll;
}

.notification-item{
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border:none;
    margin-bottom: 5px;
    background: floralwhite;
}

.notification-icon{
    display: inline-block;
}

.notification-message{
    display: inline-block;
    margin-left: 10px;
}